<header>
  <h1>Members only</h1>
  <nav>
    <% if (title === "Homepage") {%>
    <% if (user) { %>
    <a href="/logout">Log out</a>
    <a href="/message">Create Message</a>
    <% } else{ %>
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
    <% } %>
    <% }else if (title === "Sign Up"){%>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <% }else { %>
    <a href="/">Home</a>
    <a href="/signup">Sign Up</a>
    <% } %>
  </nav>
</header>
