<!doctype html>
<html lang="en">
  <%- include("./head.ejs") %>
  <body>
    <%- include("./header.ejs"); %>
    <main>
      <fieldset>
        <legend>Login</legend>
        <% if(typeof errors !== "undefined") {%>
        <h1>Error:</h1>
        <% for (error of errors) {%>
        <h1><%= error %></h1>
        <% } %>
        <% } %>
        <form action="/login" method="post">
          <label for="email">Email*: </label>
          <input
            type="email"
            name="email"
            id="email"
            autocomplete="email"
            required
          />
          <label for="password">Password*:</label
          ><input
            type="password"
            name="password"
            id="password"
            autocomplete="current-password"
            required
          />
          <button type="submit">Login</button>
        </form>
      </fieldset>
    </main>
  </body>
</html>
