<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Messages</title>
  </head>
  <body>
    <% if(user) {%>
    <h1>Hello <%= user.fullname %></h1>
    <h1>Email <%= user.email %></h1>
    <% } %>
  </body>
</html>
